<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="xpsd.Scrayil.noplayserviceswarning">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" >
        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="This module replaces the original PlayServices checks and always returns true!" />
        <meta-data
                android:name="xposedminversion"
                android:value="82" />
    </application>
</manifest>